{% extends 'base.html' %}

{% block content %}

<div class="row">

    {% if user.user_image %}
    <div>
        <img src="{{ user.user_image }}" 
        alt="{{ user.full_name }}" 
        class="img-fluid">
    </div>
    {% endif %}
    



    <div>
        <h1>{{ user.full_name }}</h1>

        <form method="POST" action="{{ url_for('delete_user', user_id=user.user_id) }}">
            <button class="btn btn-primary btn-sm" 
            formaction="/users/{{user.user_id}}/edit"
            formmethod="GET">Edit
            </button>

            <button class="btn btn-danger btn-sm" 
            formaction="/users/{{user.user_id}}/delete" 
            formmethod="POST">Delete
            </button>
        </form>

        <h2 class="mt-4">Posts</h2>

        <ul>
            {% for post in user.posts%}
            <li>
                <a href="/posts/{{post.post_id}}">{{post.post_title}}</a>
                <small>{{post.friendly_date}}</small>
            </li>
            {% endfor %}
        </ul>
        <p><a href="/users/{{user.user_id}}/posts/new" class="btn btn-primary">Add Post</a></p>
    </div>
</div>
{% endblock %}